@import 'variables';

main {
    width: 100%;

    .heroabout {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: relative;
        padding: 75px 0px;
        width: 100%;
        color: $darkblue;

        .abouttitle {
            font-size: 3rem;
            text-transform: uppercase;
            text-align: center;
            padding: 20px;
            z-index: 1;

            @media #{$navgone} {
                padding-top: 100px;
            }

            @media #{$allphones} {
                font-size: 2.5rem;
            }

            @media #{$wideScreens} {
                font-size: 3.5rem;
            }
            @media #{$widerScreens1700} {
                font-size: 4rem;
            }
        }

        .quote {
            font-size: 1.2rem;
            background: $darkblue;
            color: white;
            width: 80%;
            padding: 12px;
            font-weight: 10;
            text-align: center;

            @media #{$lowerFont} {
                font-size: 0.95rem;
            }

            @media #{$allphones} {
                font-size: 0.85rem;
            }

            @media #{$wideScreens} {
                font-size: 1.4rem;
            }

            @media #{$widerScreens1700} {
                font-size: 1.6rem;
            }

        }

        .quote-name {
            width: 80%;
            text-align: right;
            padding-top: 5px;

            @media #{$widerScreens1700} {
                font-size: 2rem;
            }
        }

        .freight {
            position: absolute;
            height: 100%;
            width: 100%;
            object-fit: cover;
            opacity: 0.45;
        }
    }

    
    .heading-container {
        width: 80%;
        text-align: right;
        
        .subheading {
            color: $darkblue;
            padding: 25px;
            font-style: oblique;
            font-weight: 100;
            font-size: 3rem;
            text-transform: uppercase;

            @media #{$lowerFont} {
                font-size: 2rem;
            }
            @media #{$allphones} {
                font-size: 1.35rem;
            }
        }
        
    }


    .aboutinfo {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        line-height: 25px;
        padding-bottom: 50px;

        .information {

            display: flex;
            justify-content: center;
            align-items: center;
            width: 80%;
            flex-wrap: wrap;

            .infotitle {
                padding-bottom: 15px;
                font-size: 2rem;
                color: $darkblue;
                position: relative;

               
                @media #{$widerScreens1700} {
                    font-size: 2.5rem;
                }

                @media #{$wideScreens} {
                    font-size: 2.3rem;
                }
            }

            .info {
                font-size: 1.02rem;
                flex: 1 1 400px;
                padding: 20px;

                .para {
                    font-size: 1rem;

                    @media #{$allphones} {
                        font-size: 0.95rem;
                    }

                    @media #{$wideScreens} {
                        font-size: 1.1rem;
                    }
                    @media #{$widerScreens1700} {
                        font-size: 1.3rem;
                        line-height: 30px;
                    }


                    
                }

                @media #{$allphones} {
                    width: 80%;
                    font-size: 0.95em;
                }
            }
        }

        .image {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            width: 80%;
            padding-top: 75px;

            .photo{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                flex: 1 1 400px;

                .name {
                    padding-top: 8px;
                    color: $darkblue;
                    font-size: 1.5rem;
                }

            }

            .headshot {
                box-shadow: 1px 1px 5px black;

                @media #{$stablets} {
                    width: 45%;
                }

                @media #{$allphones} {
                    width: 90%;
                }
                @media #{$wideScreens} {
                    width: 65%;
                }

                @media #{$widerScreens1700} {
                    width: 60%;
                }
            }

            .about-ceo {
                display: flex;
                flex-direction: column;
                align-items: center;
                flex: 1 1 350px;
                padding-top: 50px;
                padding-right: 20px;

                .para-ceo {
                    @media #{$wideScreens} {
                        font-size: 1.1rem;
                    }

                    @media #{$widerScreens1700} {
                        font-size: 1.3rem;
                        line-height: 30px;
                    }

                }

                .seperate-para {
                    margin: 20px 0px;
                }

                .infotitle {
                    padding-bottom: 15px;
                    font-size: 2rem;
                    color: $darkblue;
                    position: relative;
                    text-align: left;
                    width: 100%;

                    @media #{$widerScreens1700} {
                        font-size: 2.5rem;
                    }

                    @media #{$wideScreens} {
                        font-size: 2.3rem;
                    }
                }
            }

            .direct-contact-container {
                width: 100%;

                .direct-contact {
                    padding: 10px;
                    background: $darkblue;
                    color: white;
                    margin: 5px 0px;

                    @media #{$wideScreens} {
                        font-size: 1.2rem;
                        padding: 12px;
                    }

                    @media #{$widerScreens1700} {
                        font-size: 1.35rem;
                        padding: 15px;
                    }
                    
                }
            }
        }
    }
}