@import 'variables';

main {
    width: 100%;

    .heroabout {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: relative;
        height: 50vh;
        width: 100%;
        color: $darkblue;

        .abouttitle {
            font-size: 3rem;
            text-transform: uppercase;
            text-align: center;
            z-index: 1;

            @media #{$navgone} {
                padding-top: 100px;
            }

            @media #{$allphones} {
                font-size: 2.5rem;
            }
        }

        .quote {
            font-size: 1.2rem;
            background: $darkblue;
            color: white;
            width: 80%;
            padding: 12px;
            font-weight: 10;
            text-align: center;

            @media #{$lowerFont} {
                font-size: 0.95rem;
            }

            @media #{$allphones} {
                font-size: 0.85rem;
            }
        }

        .quote-name {
            width: 80%;
            text-align: right;
            padding-top: 5px;
        }

        .freight {
            position: absolute;
            height: 100%;
            width: 100%;
            object-fit: cover;
            opacity: 0.45;
        }
    }

    
    .heading-container {
        width: 80%;
        padding: 20px;
        text-align: right;
        
        .subheading {
            background: $darkblue;
            color: white;
            padding: 20px;
            font-style: oblique;
            font-weight: 100;
            font-size: 3rem;
            text-transform: uppercase;

            @media #{$lowerFont} {
                font-size: 2rem;
            }
            @media #{$allphones} {
                font-size: 1.35rem;
            }
        }
        
    }


    .aboutinfo {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        line-height: 25px;
        padding-bottom: 50px;

        .information {

            display: flex;
            justify-content: center;
            align-items: center;
            width: 80%;
            flex-wrap: wrap;

            .infotitle {
                padding-bottom: 12px;
                font-size: 2rem;
                color: $darkblue;
                position: relative;

            }

            .info {
                font-size: 1.02em;
                padding: 20px;
                flex: 1 1 400px;
                

                .para {
                    font-size: 1rem;

                    @media #{$allphones} {
                        font-size: 0.95rem;
                    }
                }

                @media #{$allphones} {
                    width: 80%;
                    font-size: 0.95em;
                }
            }
        }

        .image {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            width: 80%;
            padding-top: 75px;

            .photo{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                flex: 1 1 400px;

                .name {
                    padding-top: 8px;
                    color: $darkblue;
                    font-size: 1.5rem;
                }

            }

            .headshot {
                box-shadow: 1px 1px 5px black;

                @media #{$stablets} {
                    width: 45%;
                }

                @media #{$allphones} {
                    width: 90%;
                }
            }

            .about-ceo {
                display: flex;
                flex-direction: column;
                align-items: center;
                flex: 1 1 350px;
                padding-top: 50px;

                .seperate-para {
                    margin: 20px 0px;
                }

                .infotitle {
                    padding-bottom: 12px;
                    font-size: 2rem;
                    color: $darkblue;
                    position: relative;
                    text-align: left;
                    width: 100%;
                }
            }

            .direct-contact-container {
                width: 100%;

                .direct-contact {
                    padding: 10px;
                    background: $darkblue;
                    color: white;
                    margin: 5px 0px;
                }
            }
        }
    }
}