@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Oxygen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
main {
  width: 100%;
}

main .heroabout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 75px 0px;
  width: 100%;
  color: #1b334e;
}

main .heroabout .abouttitle {
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
  z-index: 1;
}

@media (max-width: 1000px) {
  main .heroabout .abouttitle {
    padding-top: 100px;
  }
}

@media (min-width: 0px) and (max-width: 540px) {
  main .heroabout .abouttitle {
    font-size: 2.5rem;
  }
}

@media (min-width: 1400px) and (max-width: 1699px) {
  main .heroabout .abouttitle {
    font-size: 3.5rem;
  }
}

@media (min-width: 1700px) and (max-width: 2000px) {
  main .heroabout .abouttitle {
    font-size: 4rem;
  }
}

main .heroabout .quote {
  font-size: 1.2rem;
  background: #1b334e;
  color: white;
  width: 80%;
  padding: 12px;
  font-weight: 10;
  text-align: center;
}

@media (max-width: 610px) {
  main .heroabout .quote {
    font-size: 0.95rem;
  }
}

@media (min-width: 0px) and (max-width: 540px) {
  main .heroabout .quote {
    font-size: 0.85rem;
  }
}

@media (min-width: 1400px) and (max-width: 1699px) {
  main .heroabout .quote {
    font-size: 1.4rem;
  }
}

@media (min-width: 1700px) and (max-width: 2000px) {
  main .heroabout .quote {
    font-size: 1.6rem;
  }
}

main .heroabout .quote-name {
  width: 80%;
  text-align: right;
  padding-top: 5px;
}

@media (min-width: 1700px) and (max-width: 2000px) {
  main .heroabout .quote-name {
    font-size: 2rem;
  }
}

main .heroabout .freight {
  position: absolute;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.45;
}

main .heading-container {
  width: 80%;
  text-align: right;
}

main .heading-container .subheading {
  color: #1b334e;
  padding: 25px;
  font-style: oblique;
  font-weight: 100;
  font-size: 3rem;
  text-transform: uppercase;
}

@media (max-width: 610px) {
  main .heading-container .subheading {
    font-size: 2rem;
  }
}

@media (min-width: 0px) and (max-width: 540px) {
  main .heading-container .subheading {
    font-size: 1.35rem;
  }
}

main .aboutinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  line-height: 25px;
  padding-bottom: 50px;
}

main .aboutinfo .information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

main .aboutinfo .information .infotitle {
  padding-bottom: 15px;
  font-size: 2rem;
  color: #1b334e;
  position: relative;
}

@media (min-width: 1700px) and (max-width: 2000px) {
  main .aboutinfo .information .infotitle {
    font-size: 2.5rem;
  }
}

@media (min-width: 1400px) and (max-width: 1699px) {
  main .aboutinfo .information .infotitle {
    font-size: 2.3rem;
  }
}

main .aboutinfo .information .info {
  font-size: 1.02rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 400px;
          flex: 1 1 400px;
  padding: 20px;
}

main .aboutinfo .information .info .para {
  font-size: 1rem;
}

@media (min-width: 0px) and (max-width: 540px) {
  main .aboutinfo .information .info .para {
    font-size: 0.95rem;
  }
}

@media (min-width: 1400px) and (max-width: 1699px) {
  main .aboutinfo .information .info .para {
    font-size: 1.1rem;
  }
}

@media (min-width: 1700px) and (max-width: 2000px) {
  main .aboutinfo .information .info .para {
    font-size: 1.3rem;
    line-height: 30px;
  }
}

@media (min-width: 0px) and (max-width: 540px) {
  main .aboutinfo .information .info {
    width: 80%;
    font-size: 0.95em;
  }
}

main .aboutinfo .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 80%;
  padding-top: 75px;
}

main .aboutinfo .image .photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 400px;
          flex: 1 1 400px;
}

main .aboutinfo .image .photo .name {
  padding-top: 8px;
  color: #1b334e;
  font-size: 1.5rem;
}

main .aboutinfo .image .headshot {
  -webkit-box-shadow: 1px 1px 5px black;
          box-shadow: 1px 1px 5px black;
}

@media (min-width: 481px) and (max-width: 800px) {
  main .aboutinfo .image .headshot {
    width: 45%;
  }
}

@media (min-width: 0px) and (max-width: 540px) {
  main .aboutinfo .image .headshot {
    width: 90%;
  }
}

@media (min-width: 1400px) and (max-width: 1699px) {
  main .aboutinfo .image .headshot {
    width: 65%;
  }
}

@media (min-width: 1700px) and (max-width: 2000px) {
  main .aboutinfo .image .headshot {
    width: 60%;
  }
}

main .aboutinfo .image .about-ceo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 350px;
          flex: 1 1 350px;
  padding-top: 50px;
  padding-right: 20px;
}

@media (min-width: 1400px) and (max-width: 1699px) {
  main .aboutinfo .image .about-ceo .para-ceo {
    font-size: 1.1rem;
  }
}

@media (min-width: 1700px) and (max-width: 2000px) {
  main .aboutinfo .image .about-ceo .para-ceo {
    font-size: 1.3rem;
    line-height: 30px;
  }
}

main .aboutinfo .image .about-ceo .seperate-para {
  margin: 20px 0px;
}

main .aboutinfo .image .about-ceo .infotitle {
  padding-bottom: 15px;
  font-size: 2rem;
  color: #1b334e;
  position: relative;
  text-align: left;
  width: 100%;
}

@media (min-width: 1700px) and (max-width: 2000px) {
  main .aboutinfo .image .about-ceo .infotitle {
    font-size: 2.5rem;
  }
}

@media (min-width: 1400px) and (max-width: 1699px) {
  main .aboutinfo .image .about-ceo .infotitle {
    font-size: 2.3rem;
  }
}

main .aboutinfo .image .direct-contact-container {
  width: 100%;
}

main .aboutinfo .image .direct-contact-container .direct-contact {
  padding: 10px;
  background: #1b334e;
  color: white;
  margin: 5px 0px;
}

@media (min-width: 1400px) and (max-width: 1699px) {
  main .aboutinfo .image .direct-contact-container .direct-contact {
    font-size: 1.2rem;
    padding: 12px;
  }
}

@media (min-width: 1700px) and (max-width: 2000px) {
  main .aboutinfo .image .direct-contact-container .direct-contact {
    font-size: 1.35rem;
    padding: 15px;
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Oxygen;
}
/*# sourceMappingURL=main.css.map */