@import 'variables';

main {
    width: 100%;

    .heroservices {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 50vh;
        width: 100%;
        color: $darkblue;

        .servicetitle {
            font-size: 3rem;
            text-transform: uppercase;
            text-align: center;
            z-index: 1;
        }

        .subheading {
            background: $darkblue;
            color: white;
            padding: 10px;
            font-weight: 100;
            font-size: 1.4rem;
            
        }

        .carhauler {
            position: absolute;
            height: 100%;
            width: 100%;
            opacity: 0.45;
            object-fit: cover;
        }
    }

    .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        .introtitle {
            font-size: 2em;
            color: $darkblue;
            text-transform: uppercase;
            padding-bottom: 8px;
        }

        .introsaying {
            width: 60%;
            line-height: 25px;
            text-align: center;
            padding-top: 8px;
            font-size: 1.1em;

            @media #{$allphones} {
                font-size: 0.9em;
                line-height: 20px;
            }
        }
    }

    .services {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        // .largefreight {
        //     @media #{$flexDirection} {
                
        //         flex-direction: column-reverse;
        //     }
        // }

        .haul {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            padding: 50px;
            width: 100%;

            @media #{$stablets} {
                padding: 10px 50px;
            }
            @media #{$allphones} {
                padding: 10px 50px;
            }
        }

        .content {
            display: flex;
            justify-self: center;
            flex-direction: column;
            flex: 1 1 400px;
            padding: 20px;
        }


        .img {
            display: flex;
            justify-content: center;
            width: 95%;
            opacity: 0.9;
            box-shadow: 1px 1px 3px $darkblue;
            object-fit: cover;
        }

        .image {
            display: flex;
            justify-content: center;
            flex: 1 1 400px;
        }

        .freighttitle {
            padding-bottom: 8px;
            text-transform: uppercase;
            font-size: 1.6em;
            color: $darkblue;

            @media #{$allphones} {
                font-size: 1.3em;
            }
        }

        .list {
            list-style-type: none;
            
            
            .items {
                margin: 10px 0px;
                font-size: 1.2rem;
                border-bottom: 1px solid $darkblue;
                border-top: 1px solid $darkblue;
                padding: 12px;
                position: relative;
                
                @media #{$allphones} {
                    font-size: 1rem;
                }

                .fas {
                    position: absolute;
                    left: -20px;
                    color: $darkblue;
                }
            }
        }
    }

    .contact {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background: #1b334e;
        height: 30vh;

        .contactinfo {
            text-align: center;
            padding: 15px;
            font-size: 1.5rem;
            color: white;
            text-transform: uppercase;
        }

        .btn {
            width: 100px;
            height: 40px;
            border: none;
            outline: none;
            border-radius: 4px;
            box-shadow: 1px 1px 1px black;
            background: white;

            a {
                text-decoration: none;
                color: $darkblue;
            }

            &:hover {
                cursor: pointer;
            }
        }
    }
}