@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&family=Oxygen&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
main {
  width: 100%;
}

main .heroservices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 100px 0px;
  width: 100%;
  color: #1b334e;
}

main .heroservices .servicetitle {
  font-size: 3rem;
  text-transform: uppercase;
  text-align: center;
  z-index: 1;
}

main .heroservices .subheading {
  background: #1b334e;
  color: white;
  padding: 10px;
  font-weight: 100;
  font-size: 1.4rem;
}

main .heroservices .carhauler {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.45;
  -o-object-fit: cover;
     object-fit: cover;
}

main .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-bottom: 50px;
}

main .intro .introtitle {
  font-size: 2em;
  color: #1b334e;
  text-transform: uppercase;
  padding-bottom: 8px;
}

main .intro .introsaying {
  width: 60%;
  line-height: 25px;
  text-align: center;
  padding-top: 8px;
  font-size: 1.1em;
}

@media (min-width: 0px) and (max-width: 480px) {
  main .intro .introsaying {
    font-size: 0.9em;
    line-height: 20px;
    width: 80%;
  }
}

main .services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .services .haul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 50px;
  width: 100%;
}

@media (min-width: 481px) and (max-width: 800px) {
  main .services .haul {
    padding: 10px 50px;
  }
}

@media (min-width: 0px) and (max-width: 480px) {
  main .services .haul {
    padding: 10px 50px;
  }
}

main .services .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 400px;
          flex: 1 1 400px;
  padding: 20px;
}

main .services .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 95%;
  opacity: 0.9;
  -webkit-box-shadow: 1px 1px 3px #1b334e;
          box-shadow: 1px 1px 3px #1b334e;
  -o-object-fit: cover;
     object-fit: cover;
}

main .services .image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 400px;
          flex: 1 1 400px;
}

main .services .freighttitle {
  padding-bottom: 8px;
  text-transform: uppercase;
  font-size: 1.6em;
  color: #1b334e;
}

@media (min-width: 0px) and (max-width: 480px) {
  main .services .freighttitle {
    font-size: 1.3em;
  }
}

main .services .list {
  list-style-type: none;
}

main .services .list .items {
  margin: 10px 0px;
  font-size: 1.2rem;
  border-bottom: 1px solid #1b334e;
  border-top: 1px solid #1b334e;
  padding: 12px;
  position: relative;
}

@media (min-width: 0px) and (max-width: 480px) {
  main .services .list .items {
    font-size: 1rem;
  }
}

main .services .list .items .fas {
  position: absolute;
  left: -20px;
  color: #1b334e;
}

main .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #1b334e;
  height: 30vh;
}

main .contact .contactinfo {
  text-align: center;
  padding: 15px;
  font-size: 1.5rem;
  color: white;
  text-transform: uppercase;
}

main .contact .btn {
  width: 100px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 4px;
  -webkit-box-shadow: 1px 1px 1px black;
          box-shadow: 1px 1px 1px black;
  background: white;
}

main .contact .btn a {
  text-decoration: none;
  color: #1b334e;
}

main .contact .btn:hover {
  cursor: pointer;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Oxygen;
}
/*# sourceMappingURL=main.css.map */