//content info
//section with the icons and text
.about {
    display: flex;
    width: 100%;

    .containservices {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

            .service {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                text-align: center;
                padding: 10px 15px;
                flex: 1 1 325px;
               
                
                .fas {
                    font-size: 1.7em;
                    color: rgb(35, 151, 236);
                    padding: 12px;
                    border-radius: 8px;

                }

                .servicetitle {
                    color: black;
                    padding: 8px 0px;
                    font-size: 1.4em;
                    border-bottom: 1.5px solid lightgrey;
                }

                .serviceinfo {
                    padding-top: 10px;
                    width: 80%;
                    line-height: 25px;
                }
            }

        }

    }
    //section with picture and info 

    .promo {
        display: flex; 
        width: 100%;
        height: 50vh;
        position: relative;
        background: rgba(201, 202, 206, 0.2);

        .contactinfo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 100%;

            @media #{$allphones} {
               padding: 0px 25px;
            }
           

            .contacttitle {
                font-size: 1.6em;
                border-bottom: solid 2px rgb(35, 151, 236);
                padding: 8px 0px;

                @media #{$allphones} {
                    font-size: 1.4em;
                }

                @media #{$xsphones} {
                    font-size: 1.2em;
                }
               
            }

            .required {
                display: flex;
                flex-direction: column;
                justify-content: center;
                list-style-type: none;
                margin: 8px 0px;
                font-weight: 100;

                @media #{$allphones} {
                    font-size: 1em;
                }
            }
        }

    }

    