.about {
    display: flex;
    width: 100%;

    .containservices {
        display: flex;
        // flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex: 1 1 35%;
    }

    .service {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 10px 15px;
        // background: rgb(46, 122, 223);
        
    }

    .servicetitle {
        color: rgb(46, 122, 223);
        font-size: 1.2em;
    }

    .serviceinfo {
        width: 70%;
    }

}