//content info
//section with the icons and text
.about {
    display: flex;
    width: 100%;
    height: 50vh;

    .images {
        background: url('/imgs/freights.PNG');
    }

    .containservices {
        display: flex;
        // flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex: 1 1 30%;
        // background: rgb(35, 151, 236);

            .service {
                display: flex;
                flex-direction: column;
                // flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                text-align: center;
                padding: 10px 15px;
                // background: rgb(46, 122, 223);
                
                .fas {
                    font-size: 1.7em;
                    color: rgb(35, 151, 236);
                    padding: 12px;
                    border-radius: 8px;

                }

                .servicetitle {
                    color: black;
                    padding: 8px 0px;
                    font-size: 1.4em;
                    border-bottom: 1.5px solid lightgrey;
                }

                .serviceinfo {
                    padding-top: 10px;
                    width: 70%;
                    line-height: 25px;
                }
            }

        }

    }
    //section with picture and info 

    .promo {
        display: flex; 
        width: 100%;
        height: 50vh;
        position: relative;
        
        .imgfreight {
            display: flex;
            justify-content: center;
            align-items: center;
            background-repeat: no-repeat;
            background-size: contain;
            height: 100%;
            
            &:before {
                content: '';
                position: absolute;
                border: solid 2px rgb(35, 151, 236);
                height: 200px;
                width: 125px;
               
            }


            .img1 {
                // position: absolute;
                // background-repeat: no-repeat;
                // background-size: contain;
                height: 250px;
                width: 300px;
                transition: ease-in 0.25s;
                opacity: 0.2;
    
                &:hover {
                    filter: grayscale(0);
                }
            }
        }

        .contactinfo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 100%;

            .contacttitle {
                font-size: 1.6em;
                border-bottom: solid 2px rgb(35, 151, 236);
                padding: 8px 0px;
            }

            .required {
                display: flex;
                flex-direction: column;
                justify-content: center;
                list-style-type: none;
                margin: 8px 0px;
                font-weight: 100;
            }
        }

    }

    