
header {
    height: 100vh;
    width: 100%;
    position: relative;

    .hero {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        height: 90vh;
        width: 100%;

        .heropic {
            position: absolute;
            right: 0;
            width: 75%;
            height: 85%;
            opacity: 0.45;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: right;
        }

        .intro {
            transform: translate(20%, -60%);

            .title {
                text-transform: uppercase;
                font-size: 3em;
                letter-spacing: 2px;
                color: midnightblue;
                font-family: Anton;
            }

            .motto {
                padding-bottom: 12px;
                font-size: 1.7em;
                font-style: oblique;
            }

            .btn {
                border: none;
                outline: none;
                width: 115px;
                background: rgb(35, 151, 236);
                padding: 15px;
                color: white;
                font-size: 1em;
                transition: ease-in 0.25s;

                &:hover {
                    cursor: pointer;
                    background: white;
                    border: midnightblue 2px solid;
                    color: midnightblue;
                }
            }
        }
        
    }
}