@import 'variables';


header {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;

    .hero {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        height: 90vh;
        width: 70%;

        @media #{$allphones} {
            width: 80%;
         }

         @media #{$stablets} {
            width: 85%;
        }

        .heropic {
            position: absolute;
            right: 0;
            bottom: 0;
            width: 75%;
            height: 85%;
            opacity: 0.45;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: right;

            @media #{$allphones} {
                height: 50%;
                width: 100%;
            }

            @media #{$stablets} {
                height: 60%;
                width: 100%;
            }
        }

        .intro {
            transform: translate(20%, -60%);

            .title {
                text-transform: uppercase;
                font-size: 3em;
                letter-spacing: 2px;
                color: $darkblue;

                @media #{$allphones} {
                    font-size: 1.3em;
                }
                @media #{$stablets} {
                    font-size: 2.5em;
                }
            }

            .motto {
                padding-bottom: 12px;
                font-size: 1.7em;
                font-style: oblique;

                @media #{$allphones} {
                    display: none;
                 }

                 @media #{$introgone} {
                    display: none;
                 }
            }

            .btn {
                border: none;
                outline: none;
                width: 115px;
                background: $lightblue;
                padding: 15px;
                color: white;
                font-size: 1em;
                transition: ease-in 0.25s;

                @media #{$allphones} {
                   display: none;
                }

                @media #{$introgone} {
                    display: none;
                 }

                &:hover {
                    cursor: pointer;
                    background: white;
                    border: $darkblue 2px solid;
                    color: $darkblue;
                }
            }
        }
        
    }
}