@import 'variables';


.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0px 50px;
    color: white;
    @media #{$navgone} {
        display: none;
    }

     span {
        padding: 10px;
        font-size: 1.2em;
        color: midnightblue;
        margin-left: 100px;
    }

    .links {
        display: flex;
        list-style-type: none;

        .link {
           margin: 0px 25px;
           padding: 10px;
        }

        a {
            text-decoration: none;
            font-size: 1.2em;
            padding: 10px;
            transition: ease-in 0.3s;
            color: darkblue;

            &:hover {
                padding: 10px;
                background: darkblue;
                letter-spacing: 2px;
                color: white;
            }
        }
    }
}