@import 'variables';


.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0px 50px;
    color: white;
    @media #{$navgone} {
        display: none;
    }

     span {
        padding: 10px;
        font-size: 1.2em;
        color: $darkblue;
        margin-left: 100px;
    }

    .links {
        display: flex;
        list-style-type: none;

        .link {
           margin: 0px 25px;
           padding: 10px;
        }

        a {
            text-decoration: none;
            font-size: 1.2em;
            padding: 10px;
            transition: ease-in 0.3s;
            color: $darkblue;

            &:hover {
                padding: 10px;
                background: $darkblue;
                letter-spacing: 2px;
                color: white;
            }
        }
    }
}

//show menu 

.showmenu {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 0%;
    z-index: 2;
    transition: ease-in-out 0.3s;
    background: $darkblue;
    opacity: 0;

    @media #{$menu} {
        display: none;
    }

    &.appear {
        opacity: 1;
        width: 100%;
    }

    .links {
        list-style-type: none;
    }

    .showlink {
        margin: 8px 0px;
        transform: translateX(-20px);
        padding: 10px;
        opacity: 0;
        transition: ease-in-out 0.3s 0.2s;


        &.appear {
            opacity: 1;
            transform: translateX(0px);
        }
    }

    a {
        text-decoration: none;
        font-size: 1.3em;
        transition: 0.3s ease-in-out;
        color: white;

        &:hover  {
            letter-spacing: 2px;
        }
    }
}

.menu {
    position: fixed;
    display: flex;
    align-items: center;
    width: 50px;
    height: 50px;
    top: 25px;
    right: 25px;
    z-index: 3;

    @media #{$menu} {
        display: none;
    }

    .toggle {
        position: relative;
        height: 50px;
        width: 50px;
        opacity: 0;
        z-index: 4;

        &:hover {
            cursor: pointer;
        }
    }

    span {
        position: absolute;
        width: 24px;
        height: 2px;
        background: $darkblue;

        &.color {
            background: white;
        }

    }

        span:nth-child(2) {
        position: absolute;
        top: 15px;
        background: $darkblue;
        width: 32px;
        height: 2px;

        &.color {
            background: white;
        }
    }

}