

$darkblue: rgb(27, 51, 78);
$lightblue: rgb(136, 177, 227);
$lightgrey: rgba(201, 202, 206, 0.2);


$menu: "(min-width: 1000px)";
$title: "(min-width: 1000px)";
$navgone: "(max-width: 1000px)";
$introgone: "(max-width: 1000px)";
$stablets: "(min-width: 481px) and (max-width: 849px)";
$allphones: "(min-width: 0px) and (max-width: 480px)";
$lphones: "(min-width: 376px) and (max-width: 415px)";
$mphones: "(min-width: 321px) and (max-width: 375px)";
$xsphones: "(max-width: 320px)";
$tablets: "(min-width: 850px)";
$spreadPic: "(max-width: 1066px)";
$removePad: "(max-width: 1035px)"